services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_storage:/qdrant/storage

  backend:
    build: ./backend
    container_name: rag-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - qdrant

  frontend:
    build: ./frontend
    container_name: rag-frontend
    environment:
      - BACKEND_URL=http://backend:8000
    ports:
      - "8501:8501"
    depends_on:
      - backend

volumes:
  qdrant_storage:
